
//main colors
$mainblue: #224178;
$skyblue: #87b1d4;
$circles: #2c8ec0;
$white: #ffffff;
$black: #000000;
$gray-form: #E7E8E9;
$btn-submit: #2C8EBF;
$base-font-color: #000000;
$base-font-size: 14px;
$base-font-family: "Lato", helvetica, sans-serif;
$heading-font-family: "Lato", helvetica, sans-serif;
$heading-font-weight: 900;
$nav-active-color: #2c8ec0;
$circle-color-aip: #E9F3F8;

//breakpoints
$mobile: 320px;
$mobile-h: 480px;
$tablet: 787px;
$desktop: 900px;
$huge: 1200px;
